USE [master]
GO
/****** Object:  Database [proyecto_academico]    Script Date: 5/7/2023 20:46:48 ******/
CREATE DATABASE [proyecto_academico]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'proyecto_academico', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\proyecto_academico.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'proyecto_academico_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\proyecto_academico_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [proyecto_academico].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [proyecto_academico]
GO
/****** Object:  Table [dbo].[clase]    Script Date: 5/7/2023 20:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clase](
	[Clase_ID] [int] NOT NULL,
	[Division_ID] [int] NOT NULL,
	[Materia_ID] [varchar](50) NOT NULL,
	[Profesor_ID] [varchar](50) NOT NULL,
	[Fecha_Comienzo] [date] NOT NULL,
	[Fecha_Final] [date] NULL,
 CONSTRAINT [PK_clase] PRIMARY KEY CLUSTERED 
(
	[Clase_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[division]    Script Date: 5/7/2023 20:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[division](
	[Division_ID] [int] NOT NULL,
	[Anio_Escolar] [int] NOT NULL,
	[Division_Escolar] [int] NOT NULL,
	[Turno] [varchar](50) NOT NULL,
 CONSTRAINT [PK_division] PRIMARY KEY CLUSTERED 
(
	[Division_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[division_de_alumnos]    Script Date: 5/7/2023 20:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[division_de_alumnos](
	[DivisionDA_ID] [int] NOT NULL,
	[DNI_Alumno] [int] NOT NULL,
	[Division_ID] [int] NOT NULL,
	[Anio_Calendario] [int] NOT NULL,
 CONSTRAINT [PK_division_de_alumnos] PRIMARY KEY CLUSTERED 
(
	[DivisionDA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ejemplo]    Script Date: 5/7/2023 20:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ejemplo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[evaluaciones]    Script Date: 5/7/2023 20:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evaluaciones](
	[Evaluacion_ID] [int] NOT NULL,
	[Clase_ID] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Detalles] [varchar](50) NOT NULL,
 CONSTRAINT [PK_evaluaciones] PRIMARY KEY CLUSTERED 
(
	[Evaluacion_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[faltas]    Script Date: 5/7/2023 20:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[faltas](
	[Falta_ID] [int] NOT NULL,
	[DNI_Alumno] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Tipo] [decimal](10, 1) NOT NULL,
	[jutificada] [tinyint] NOT NULL,
 CONSTRAINT [PK_faltas] PRIMARY KEY CLUSTERED 
(
	[Falta_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[materia]    Script Date: 5/7/2023 20:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materia](
	[Materia_ID] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Anio_escolar] [int] NOT NULL,
	[Horas_Semanales] [int] NOT NULL,
 CONSTRAINT [PK_materia] PRIMARY KEY CLUSTERED 
(
	[Materia_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notas]    Script Date: 5/7/2023 20:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notas](
	[Notas_ID] [int] NOT NULL,
	[Nota] [decimal](10, 2) NOT NULL,
	[DNI_Alumno] [int] NOT NULL,
	[Evaluacion_ID] [int] NOT NULL,
 CONSTRAINT [PK_notas] PRIMARY KEY CLUSTERED 
(
	[Notas_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[persona]    Script Date: 5/7/2023 20:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persona](
	[DNI] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[Mail] [varchar](50) NULL,
	[Contrasena] [varchar](50) NULL,
	[Nivel] [int] NULL,
 CONSTRAINT [PK_persona] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[clase] ([Clase_ID], [Division_ID], [Materia_ID], [Profesor_ID], [Fecha_Comienzo], [Fecha_Final]) VALUES (1, 1, N'1', N'26911147', CAST(N'2023-03-22' AS Date), NULL)
INSERT [dbo].[clase] ([Clase_ID], [Division_ID], [Materia_ID], [Profesor_ID], [Fecha_Comienzo], [Fecha_Final]) VALUES (2, 1, N'5', N'36073248', CAST(N'2023-03-22' AS Date), NULL)
INSERT [dbo].[clase] ([Clase_ID], [Division_ID], [Materia_ID], [Profesor_ID], [Fecha_Comienzo], [Fecha_Final]) VALUES (3, 1, N'14', N'330617946', CAST(N'2023-03-15' AS Date), NULL)
GO
INSERT [dbo].[division] ([Division_ID], [Anio_Escolar], [Division_Escolar], [Turno]) VALUES (1, 1, 1, N'maniana')
INSERT [dbo].[division] ([Division_ID], [Anio_Escolar], [Division_Escolar], [Turno]) VALUES (2, 1, 2, N'tarde')
INSERT [dbo].[division] ([Division_ID], [Anio_Escolar], [Division_Escolar], [Turno]) VALUES (3, 1, 3, N'noche')
GO
INSERT [dbo].[division_de_alumnos] ([DivisionDA_ID], [DNI_Alumno], [Division_ID], [Anio_Calendario]) VALUES (1, 36595167, 1, 2023)
INSERT [dbo].[division_de_alumnos] ([DivisionDA_ID], [DNI_Alumno], [Division_ID], [Anio_Calendario]) VALUES (2, 93752192, 1, 2023)
INSERT [dbo].[division_de_alumnos] ([DivisionDA_ID], [DNI_Alumno], [Division_ID], [Anio_Calendario]) VALUES (3, 54070271, 5, 2023)
GO
SET IDENTITY_INSERT [dbo].[Ejemplo] ON 

INSERT [dbo].[Ejemplo] ([ID], [Nombre], [Apellido]) VALUES (1, N'Nombre 4073', N'Apellido 1')
INSERT [dbo].[Ejemplo] ([ID], [Nombre], [Apellido]) VALUES (2, N'Nombre 3125', N'Apellido 2')
INSERT [dbo].[Ejemplo] ([ID], [Nombre], [Apellido]) VALUES (3, N'Nombre 9895', N'Apellido 3')
SET IDENTITY_INSERT [dbo].[Ejemplo] OFF
GO
INSERT [dbo].[evaluaciones] ([Evaluacion_ID], [Clase_ID], [Fecha], [Detalles]) VALUES (1, 4, CAST(N'2023-07-14' AS Date), N'multiplechoice')
INSERT [dbo].[evaluaciones] ([Evaluacion_ID], [Clase_ID], [Fecha], [Detalles]) VALUES (2, 6, CAST(N'2023-06-21' AS Date), N'examen oral')
GO
INSERT [dbo].[faltas] ([Falta_ID], [DNI_Alumno], [Fecha], [Tipo], [jutificada]) VALUES (1, 36595167, CAST(N'2023-05-19' AS Date), CAST(0.5 AS Decimal(10, 1)), 2)
INSERT [dbo].[faltas] ([Falta_ID], [DNI_Alumno], [Fecha], [Tipo], [jutificada]) VALUES (2, 54070271, CAST(N'2023-06-15' AS Date), CAST(1.0 AS Decimal(10, 1)), 1)
INSERT [dbo].[faltas] ([Falta_ID], [DNI_Alumno], [Fecha], [Tipo], [jutificada]) VALUES (3, 36595167, CAST(N'2023-05-20' AS Date), CAST(1.0 AS Decimal(10, 1)), 2)
GO
INSERT [dbo].[materia] ([Materia_ID], [Nombre], [Anio_escolar], [Horas_Semanales]) VALUES (1, N'matematica', 1, 4)
INSERT [dbo].[materia] ([Materia_ID], [Nombre], [Anio_escolar], [Horas_Semanales]) VALUES (2, N'lengua y literatura', 1, 2)
INSERT [dbo].[materia] ([Materia_ID], [Nombre], [Anio_escolar], [Horas_Semanales]) VALUES (3, N'biologia', 1, 2)
GO
INSERT [dbo].[notas] ([Notas_ID], [Nota], [DNI_Alumno], [Evaluacion_ID]) VALUES (1, CAST(7.00 AS Decimal(10, 2)), 54070271, 1)
INSERT [dbo].[notas] ([Notas_ID], [Nota], [DNI_Alumno], [Evaluacion_ID]) VALUES (2, CAST(4.00 AS Decimal(10, 2)), 55719308, 2)
GO
INSERT [dbo].[persona] ([DNI], [Nombre], [Apellido], [Mail], [Contrasena], [Nivel]) VALUES (301464, N'tomas', N'mari', N'tomasmari@gmail.com', N'*A4B6157319038724E3560894F7F932C8886EBFCF', 3)
INSERT [dbo].[persona] ([DNI], [Nombre], [Apellido], [Mail], [Contrasena], [Nivel]) VALUES (3868668, N'silvia', N'galan', N'silviagalan@gmail.com', N'*A4B6157319038724E3560894F7F932C8886EBFCF', 3)
INSERT [dbo].[persona] ([DNI], [Nombre], [Apellido], [Mail], [Contrasena], [Nivel]) VALUES (6046189, N'jennifer ', N'prada', N'jenniferprada@gmail.com', N'*A4B6157319038724E3560894F7F932C8886EBFCF', 3)
GO
USE [master]
GO
